/id_rsa.pub
# Ignore compressed files
*.gz
*.tgz

# Ignore Terraform files
.terraform/
.terraform.lock.hcl
terraform.*
data.txt
text.txt
sta.sh
test.sh
output.txt
terminal_output.txt
*.qcow2


CountingWord.java
real_data.txt